/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
/* veriables */
:root {
  --main-bg: #ede8db;
  --bg-orange: #ff5c1fde;
  --bg-project-1: #dbd6c9;
  --bg-project-2: #171a1cc0;
  --btn-bg-black: #09090a;
  --btn-bg-green: #b8ff2e;
  --text-black: #09090a;
  --text-white: #fafaf5;
  --text-orange: #ff5c1f;
  --text-green: #b8ff2e;
}

/* plate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

/* ######################################################
################ CUSTOM SCROLL BAR #####################
###################################################### */

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari & Opera */
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #616161d2;
  z-index: 99999;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, var(--text-orange), #ffcc00);
  width: 0%;
  transition: width 0.2s;
}

/* ######################################################
################ CUSTOM SCROLL BAR #####################
###################################################### */

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/* header */

header {
  width: 100%;
  padding: 20px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

header > .navBtn{
  display: none;
}

.logo {
  color: var(--text-black);
  text-transform: uppercase;
  font-size: 22px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1vw;
}

nav > ul > li {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

nav > ul > li > a {
  color: var(--text-black);
}

nav > button,
#contact > .left > button,
#hero_text > button,
#viewmorework a,
#devBlog > .top > a  {
  background: var(--btn-bg-black);
  color: var(--text-white);
  padding: 8px 3rem;
  border-radius: 30px;
  border: none;
  font-size: large;
}

hr {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

/* main content */

main {
  width: 90%;
  margin: auto;
  position: relative;
}

/* hero section */

#hero {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#hero_text > p:nth-child(1),
#hero_text > p:nth-child(3),
#hero_text > p:nth-child(4) {
  color: var(--text-orange);
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

#hero_text > p:nth-child(4) {
  color: var(--text-black);
  margin-top: 2rem;
  font-weight: 300;
  font-size: 16px;
}
#hero_text > p:nth-child(6) {
  color: var(--text-black);
  font-weight: 500;
  font-size: 12px;
}

#hero_text > p:nth-child(6) > i {
  font-weight: 800;
  text-shadow: 0px 0px 10px rgb(0, 163, 228);
}

#hero_text > h1 {
  color: var(--text-black);
  font-size: 5vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 3rem 0 0.5rem;
}

#hero_text > h1 > i:nth-child(1) {
  color: #9f4823;
  opacity: 0.8;
  /* transform: rotate(360deg); */
  transition: rotate(360deg) 2s ease-in-out;
}

#hero_text > button {
  margin: 2rem 0;
  font-size: small;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  box-shadow: 2px 2px 5px #09090a;
}

#hero_text > button > i {
  padding-top: 0.2rem;
  margin-left: 0.4rem;
  font-size: large;
}

#hero_img {
  position: relative;
  background: var(--bg-project-2);
  border-radius: 30px;
  cursor: not-allowed;
  background-image: url(../img/premade.png);
  background-size: cover;
  background-position: center;
}

#hero_img > p {
  position: absolute;
  color: var(--text-white);
  z-index: 2;
  left: 2rem;
  bottom: 2rem;
  font-size: large;
  text-transform: uppercase;
  line-height: 1rem;
}

#hero_img > p > span {
  font-size: small;
  text-transform: capitalize;
}

#hero-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  stroke-opacity: 0.3;
  /* Anchor expansion to the right edge */
  transform-origin: right center;
  animation: expandFromRight 2s ease forwards;
}

#hero-bg {
  color: #ff5c1f;
  font-weight: 900;
}
#hero-bg path {
  color: #ff5c1f;
  stroke-width: clamp(
    0.75 * 1rem,
    (
      (0.75 - ((1.3565 - 0.75) / (160 - 20) * 20)) * 1rem +
        ((1.3565 - 0.75) / (160 - 20)) * 100vw
    ),
    1.3565 * 1rem
  );
}

#vartical-scroll {
  margin: 3rem 0;
  width: 100%;
  height: 5.5rem;
  background: var(--bg-project-2);
  backdrop-filter: blur(5px);
  z-index: 2;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#vartical-scroll i {
  color: var(--text-white);
  font-size: 3rem;
}

#vartical-scroll i:nth-child(1) {
  color: #f06529;
}
#vartical-scroll i:nth-child(2) {
  color: #2965f1;
}
#vartical-scroll i:nth-child(3) {
  color: #f0db4f;
}
#vartical-scroll i:nth-child(4) {
  color: #8993be;
}
#vartical-scroll i:nth-child(5) {
  color: #d4942c;
}
#vartical-scroll i:nth-child(6) {
  color: #f34f29;
}

/* Work session */
#work,
#devBlog {
  width: 100%;
  padding: 2rem 0;
}
#work > h2,
#about > h2,
#myCurrentSkils > h4,
#whatIAmLearning > h4,
#devBlog > h2,
footer > h2 {
  font-size: 0.8rem;
  color: var(--text-orange);
  font-weight: 600;
  font-family: "Inter", sans-serif;
  /* position: sticky;
    top: 50px; */
}

#work > .top,
.aboutMe,
#devBlog > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0 0;
  /* position: sticky;
    top: 70px; */
}
#work > .top > h3,
.aboutMe > h3,
#devBlog > .top > h3,
#contact > .left > h3 {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
}

#work > .top > p,
.aboutMe > p {
  font-family: "Josefin Slab", serif;
  font-size: smaller;
}

#projects {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  min-height: 300px;
  border-radius: 0.6rem;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 30px;
  height: 100%;
}

.project .aboutwork {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2rem;
  max-width: 50%;
}

.project .aboutwork > .workdetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.project .aboutwork > .workdetails > .counter {
  border: 1px solid;
  padding: 8px;
  border-radius: 8px;
}
.project .aboutwork > .workdetails > .title {
  font-size: 2.4rem;
}
.project .aboutwork > .workdetails > .description {
  font-family: "DynaPuff", system-ui;
  font-weight: 200;
}
.project .aboutwork > .workdetails > .btn-redirect {
  border: 2px solid;
  padding: 5px 20px;
  border-radius: 0.3rem;
  /* font-family: "Josefin Slab", serif; */
  font-weight: 600;
}
.project .aboutwork > .workdetails > .btn-redirect > i {
  border: 1px solid;
  border-radius: 50%;
  /* font-family: "Josefin Slab", serif; */
  font-weight: 600;
}
.project .aboutwork > .techstack > ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project .workimage {
  height: 250px;
  width: 360px;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-position: center;
}
.project:nth-child(1) .workimage {
  background-image: url(../img/bus.png);
}
.project:nth-child(2) .workimage {
  background-image: url(../img/sonali-chicken.png);
}
.project:nth-child(3) .workimage {
  background-image: url(../img/whois-removebg.png);
}

.project:nth-child(2n) {
  background-color: var(--bg-orange);
  backdrop-filter: blur(2px);
  color: var(--text-black);
  flex-direction: row-reverse;
}
.project:nth-child(2n) .aboutwork > .workdetails > .btn-redirect {
  background-color: var(--btn-bg-black);
  border-color: var(--text-black);
  color: var(--text-white);
}

.project:nth-child(2n) .workimage {
  background-color: var(--bg-project-1);
}

.project:nth-child(2n-1) {
  background-color: var(--bg-project-2);
  backdrop-filter: blur(5px);
  color: var(--text-white);
}
.project:nth-child(2n-1) .workimage {
  background-color: var(--bg-project-2);
}
.project:nth-child(2n-1) .aboutwork > .workdetails > .counter {
  color: var(--text-green);
  border-color: var(--text-green);
}
.project:nth-child(2n-1) .aboutwork > .workdetails > .btn-redirect {
  color: var(--text-black);
  background-color: var(--text-white);
  border-color: var(--text-white);
}
.project:nth-child(2n-1) .aboutwork > .techstack {
  color: var(--text-green);
  border-color: var(--text-green);
}

#viewmorework {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#viewmorework h5 {
  font-family: "Josefin Slab", serif;
  font-size: 28px;
  max-width: 35%;
}

#viewmorework a,
#devBlog > .top > a {
  font-size: small;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  font-family: "Inter", sans-serif;
}

.aboutMe > p {
  flex: 1;
  max-width: 400px;
}

#skills {
  width: 100%;
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

.toolsList {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 20px 0;
}
.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.tool svg {
  height: 20px;
  width: 20px;
}

#about > hr {
  width: 100%;
  margin: 30px 0;
}

#devBlog {
  padding-top: 4rem;
  width: 100%;
}

#devBlog .devbnotes {
  padding-top: 3rem;
}
#devBlog .devbnotes .blog hr{
  width: 100%;
  margin-bottom: 0;
}
#devBlog .devbnotes .blog .blogData{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10vw;
  padding: 15px 0;
}
#devBlog .devbnotes .blog .blogData .blogCount{
  font-size: 14px;
  font-weight: 600;
  color: var(--text-orange);
}
#devBlog .devbnotes .blog .blogData .blogTitle{
  font-size: clamp(16px,1.5vw,22px);
  font-weight: 300;
  color: var(--text-black);
  font-family: DynaPuff;
  word-spacing: 1.5;
}

footer {
  width: 100%;
  background-color: #000;
  color: var(--text-white);
  padding: 2rem 5% 0;
}

footer h2 {
  color: var(--text-green);
}

#contact {
  width: 100%;
  padding: 0 0 2rem 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#contact a {
  color: var(--text-white);
}

#contact > .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: clamp(20px, 3vw, 50px);
}
#contact > .left > .cta{
  background-color: var(--btn-bg-green);
  color: var(--text-black);
}

#contact > .right {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  gap: 2rem;
}

#contact > .right >a {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

#contact > .right > .socials {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

footer hr {
  width: 100%;
  margin-bottom: 0;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer p:nth-last-child(1){
  font-size: small;
}



@keyframes expandFromRight {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


@media (max-width: 1024px) {
  header> .navBtn {
    display: initial;
    font-size: larger;
    font-weight: 600;
    background: transparent;
    border: none;
  }

  header {
    position: relative;
    /* overflow: hidden !important; */
  }

  header > nav {
    flex-direction: column;
    justify-content: start;
    position: absolute;
    gap: 1rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-15px) scale(.98);
    z-index: 999999;
    width: 90%;
    background-color: var(--bg-project-1);
    padding: 0 0 20px 0;
    border-top: .1px solid var(--bg-project-2);
    opacity: 0;
    border-bottom: .1px solid var(--bg-project-2);
    transition: all .3s ease;
    visibility: hidden;
    pointer-events: none;
  }
  nav > ul{
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  nav > ul>li{
    flex-direction: column;
    border-bottom: 1px solid var(--bg-project-2);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  nav> button {
    width: 80%;
  }
  nav.active{
    display: flex !important;
    visibility: visible;
    transform: translateX(-50%) translateY(0) scale(1);
    pointer-events: auto;
    opacity: 1;
  }

  #hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    
  }

  #hero_text > h1 {
    font-size: 50px;
  }

  #hero_img {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #171a1c;
  }

  #vartical-scroll i {
    font-size: 2rem;
  }

  #hero-bg,
  #work .top p,
  .workimage,
  #viewmorework h5,
  .aboutMe > p,
  .catagory_time {
    display: none;
  }

  .aboutwork {
    max-width: none !important;  
  }

  #work > .top, .aboutMe, #devBlog > .top {
    padding: 0;
    flex-direction: column;
    align-items: start;
  }

  .toolsList {
    flex-wrap: wrap;
  }


}

@media (max-width: 700px) {

   #hero_text > h1 {
    font-size: 40px;
  }

  #contact {
    flex-direction: column;
    gap: 3rem;
  }

  .socials{
    flex-direction: row !important;
    gap: 1.5rem !important;
    flex-wrap: wrap;
  }
}
